*{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}
.S1-HomePage{
  background: black;
}
.S1-HomePage>header{
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  backdrop-filter: blur(8px);
  background-color: beige;
  color: black;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  z-index: 1000;
}
.HeaderName{
  font-size: 1.6rem;
  font-weight: 700;
  color: black;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
}
.HeaderName:hover{
  transform: scale(1.1);
}

.nav_list{
  display: flex;
  gap: 2rem;
}
.nav_list>li>a{
  color: black;
  position: relative;
  font-weight: 400;
}
.nav_list>li>a::before{
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  height: 5px;
  top: 25px;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right,rgb(0,157,255),rgb(255,0,255));
}
.nav_list>li>a:hover::before{
  width: 100%
}
.Visit_gitHub{
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  border: none;
  font-weight: 500;
  color: white;
  cursor: pointer;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right,rgb(0,157,255),rgb(255,0,255));
}
.Visit_gitHub:hover{
  background: linear-gradient(to right,rgb(0,157,255),rgb(255,0,255));
  transform: scale(1.1);
}

#menu-icon{
  font-size: 2rem;
  display: none;
}
.S1-HomePage{
  min-height: 100vh;
  padding: 10rem 12%;
  width: 100%;
  position: relative;
}
.about{
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .about-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 4rem;
}
.container .hero-pic{
  width: 31vw;
  height: 31vw;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 5px 7px 25px #272727;
  border: 13px solid rgba(255, 255, 255, 0.2);

}
.about img{
  width: 31vw;
  height: 30vw;
  overflow: hidden;
  transition: 0.5s;
}
.about img:hover{
  transform: scale(1.2);
}
.info-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1.5rem;
}
.text>#Hello-Word{
  font-size: 3.3rem;
  font-weight: 500;
  color: white;
}
.text>#My-name{
font-size: 4rem;
  font-weight: 600;
  color: white;
}
.text>#i-am-Developer{
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right,rgb(0,157,255),rgb(255,0,255));
   background-clip: text;
   color: transparent;
}

.btn-group{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.btn{
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid white;
  box-shadow: 0 0 40px #272727;
  color: white;
  cursor: pointer;
  font-weight: 500;
  text-wrap: nowrap;
  transition: 0.2s ease-in-out;
}
.btn:hover{
  background-color: white;
  color: black;
}



.Service{
  background: black;
}
.section_title{
  text-align: center;
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 3rem;
  color: white;
}
.Service_info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.Service_image{
  width: 35vw;
  border-radius: 3rem;
  box-shadow: 5px 7px 25px #272727;


}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.grid_card{
  width: 500px;
  border: 2px solid #272727;
  background: black;
  color: white;
  border-radius: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.grid_card:hover{
  transform: scale(1.02);
  background: white;
  color: black;
}

.grid_card>div{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.grid_card span{
  font-size: 1.8rem;
  font-weight: 500;
  background: linear-gradient(to right,rgb(0,157,255),rgb(255,0,255));
  background-clip: text;
  color: transparent;
}

.button{
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid white;
  color: white;
  background: black;
  cursor: pointer;
  font-weight: 500;
  text-wrap: nowrap;
  transition: 0.2s ease-in-out;
  position: relative;
  bottom: -15px;
}

.button:hover{
  box-shadow: 0 0 30px #272727;
  background-color: white;
  color: black;
}

